

@keyframes backgroundanim {
    0% {
        background-color: white;
    }
    25% {
        background-color: lightblue;
    }
    50% {
        background-color: cornflowerblue;
    }
    75% {
        background-color: blue;
    }
    100% {
        background-color: darkblue;
    }
}
#startpage {
    font-family: Calibri Light, Arial, sans-serif;
    color: turquoise;
    background-color: white;
    animation-name: backgroundanim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

#css, #cheatsheet {
    background: white;
}

h3 {
    color: lightseagreen;
    font-size: 1.4em;
}

p {
    color: black;
    font-size: 1.2em;
}

table, th, td {
    border:1px solid turquoise;
    border-collapse: collapse;
    padding: 2rem;
}

thead {
    height: 5rem;
}

tbody {
    height: 3rem;
}

dt, dd {
    color: turquoise;
    text-align: center;
}


td, th {
    color: turquoise;
    border-color: turquoise;
}

td > p {
    text-align: center;
    color: turquoise;
}

#flexbox {
    width: 40rem;
}

.navinpage {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.navinpage a {
    padding: 1rem;
    text-decoration-line: none;
    color: black;
    font-size: 1.2em;
    box-shadow: none;
}

.navinpage a:hover {
    transition: box-shadow 2s;
    box-shadow: black 5px 5px 5px 5px;
    border-radius: 1rem;
}

#navbarbt li:hover {
    transition: box-shadow 2s;
    box-shadow: black 3px 3px 3px 3px;
}

span {
    font-family: Consolas, Calibri, serif;
}

h2 {
    margin-bottom: 1rem;
}

article {
    margin: 1rem;
}

.container {
    margin-top: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container div {
    margin: 1rem;
    padding: 10rem;
    border: 1px solid black;
    background: linear-gradient(blue 0%, turquoise 100%);
    transition: box-shadow 3s;
    border-radius: 1rem;
}

.container a {
    text-decoration-line: none;
    font-size: 2rem;
    color: black;
    font-family: Consolas, Helvetica, sans-serif;
}

.container div:hover {
    box-shadow: white 10px 10px 10px 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 0.5rem;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.1rem solid rgba(0, 0, 0, 0.8);
    padding: 1rem;
    font-size: 2em;
    text-align: center;
}

#startp {
    color: turquoise;
}

#startpage h1 {
    font-size: 4em;
}

#startpage p {
    font-size: 2em;
}

#startpage div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

