body {
    font-family: Helvetica, Calibri, serif;
    background: lightgray;
}

h1 {
    color: seagreen;
    font-style: oblique;
    text-align: center;
    text-decoration-line: underline;
}

h3 {
    color: darkseagreen;
    font-style: oblique;
}

.main {
    text-decoration-line: underline;
    font-style: italic;
    text-align: center;
}

