
body {
    font-family: Arial, Helvetica, sans-serif;
    background: aqua;
}

h1 {
    color: blue;
    font-style: oblique;
    text-align: center;
    text-decoration-line: underline;
}

h3 {
    color: darkblue;
    font-style: oblique;
}

.a {
    background-color: #f3f2f5;
}

.main {
    text-decoration-line: underline;
    font-style: italic;
    text-align: center;
}

p {
    font-family: Calibri, Arial, sans-serif;
}

li {
    font-family: "Calibri Light", Helvetica, serif;
}



