
@keyframes backgroundanim {
    0% {
        background-color: white;
    }
    25% {
        background-color: lightblue;
    }
    50% {
        background-color: cornflowerblue;
    }
    75% {
        background-color: blue;
    }
    100% {
        background-color: darkblue;
    }
}
#startpage {
    font-family: Calibri Light, Arial, sans-serif;
    color: turquoise;
    background-color: white;
    animation-name: backgroundanim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

#cheatsheet {
    background: linear-gradient(to right, white, lightblue);
}


#css {
    background: linear-gradient(to right, white, lightblue);
}

@keyframes anim {
    from {background-color: white;}
    to {background-color: lightcyan;}
  }

@keyframes h1anim
{
    from {color: darkblue;}
    to {color: blue;}
}

.a {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    text-align: center;
    color: blue;
    border-radius: 1rem;
}

.a:hover
{
    animation-name: anim;
    animation-duration: 4s;
}

#mainCss {
    font-family: Helvetica Now, Calibri, serif;
    color: turquoise;
    text-decoration-line: underline;
    font-style: italic;
    text-align: center;
    margin-top: 2.5rem;
    font-size: 4rem;
}

#mainCss:hover, .cssarticle h3:hover {
    text-shadow: 4px 4px 10px seagreen;
}
.cssarticle h3{
    color: lightseagreen;
    font-family: Helvetica, Calibri, serif;
    font-size: 1.4rem;
}

.cssarticle p {
    font-family: Arial, Calibri, serif;
    color: turquoise;
}

.cssarticle li{
    font-family: Candara, Calibri, serif;
    color: turquoise;
}

#mainHtml {
    font-family: Helvetica, Calibri, serif;
    color: darkblue;
    text-decoration-line: underline;
    font-style: oblique;
    text-align: center;
    margin-top: 2.5rem;
    font-size: 3rem;
}

#mainHtml:hover {
    animation-name: h1anim;
    animation-duration: 4s; 
}
.htmldiv h3{
    color: blue;
    font-family: Arial, Helvetica, serif;
}

section p{
    font-family: Arial, Helvetica, serif;
    color: darkslateblue;
}

.htmldiv li{
    font-family: Candara, Calibri, serif;
    color: darkturquoise;
}

table, th, td {
    border:1px solid turquoise;
    border-collapse: collapse;
    padding: 2rem;
}

thead {
    height: 5rem;
}

tbody {
   height: 70px;
}

dt, dd {
    color: turquoise;
    text-align: center;
}


td, th {
    color: turquoise;
    border-color: turquoise;
}

#navbar {
    list-style-type: none;
    padding-left: 0;
    margin: -1vw;
    top: 0;
    overflow: hidden;
    background-color: rgb(98, 190, 181);
  }

#navbar li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 2rem;
  }
  
li a:hover {
    background-color: lightblue;
}

td > p {
    text-align: center;
    color: turquoise;
}

@keyframes animimg {
    0% {
        margin-top: 10rem;
    }
    25% {
        margin-left: 5rem;
    }
    50% {
        margin-left: 5rem;
    }
    75% {
        margin-top: 5rem;
    }
    100% {
        margin-top: 5rem;
    }
}

@keyframes animimgcss {
    0% {
        margin-top: 5rem;
    }
    25% {
        margin-top: 40rem;
    }
    50% {
        margin-left: 20rem;
    }
    75% {
        margin-left: 24rem;
    }
    100% {
        margin-left: 28rem;
    }
}
img {
    margin-left: 10rem;
    animation-name: animimg;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#imgcss {
    margin-left: 70rem;
    margin-right: 5rem;
    animation-name: animimgcss;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


