.button {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f3f2f5;
}

li a {
    display: block;
    color: #000;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.startpage {
    background-color: black;
    font-family: Helvetica, Calibri, serif;
    color: #f3f2f5;
}

.cheatsheet {
    background: lightcyan;
}

.css {
    background: lightgray;
}

.a {
    background-color: #f3f2f5;
    text-align: center;
    color: blue;
    text-decoration-line: underline;
}

.mainCss {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    text-decoration-line: underline;
    font-style: italic;
    text-align: center;
}

.css3headers{
    color: seagreen;
    font-family: Helvetica, Calibri, serif;
}

.cssparagraphs {
    font-family: "Calibri Light", Calibri, serif;
    color: seagreen;
}

.cssLi\`s {
    font-family: Candara, Calibri, serif;
    color: darkgreen;
}

.mainHtml {
    font-family: Helvetica, Calibri, serif;
    color: darkblue;
    text-decoration-line: underline;
    font-style: oblique;
    text-align: center;
}

.html3headers {
    color: blue;
    font-family: Arial, Helvetica, serif;
}

.htmlparagraphs {
    font-family: "Calibri Light", Calibri, serif;
    color: darkslateblue;
}

.htmlLi\`s {
    font-family: Candara, Calibri, serif;
    color: darkturquoise;
}

